body
{
	background-color: rgb(250,250,250);
}

.image-pad
{
	height: 300px;
	width: 100%;
}

.image-wrap
{
	margin-bottom: 40px;
}

.light
{
	color: #777777;
}

.twitter-logo
{
	height: 150px;
	margin: 0px;
	padding: 0px;
}

.twitter-logo-img
{
	height: 130px;
}